@use '../partials/index' as *;

h1 {
    font-size: $base-font * 3.42; // 48px
    line-height: 58px;
}

h2 {
    font-size: $base-font * 2.85; // 40px
    line-height: 40px;
}

h3 {
    font-size: $base-font * 2.285; // 32px
    line-height: 39px;
}

h4 {
    font-size: $base-font * 2; // 28px
    line-height: 34px;
}

h5 {
    font-size: $base-font * 1.57; // 22px
    line-height: 22px;
}

h6 {
    font-size: $base-font; // 14px
    line-height: 17px;
}


h1,h2, h3, h4, h5, h6 {
    letter-spacing: 0px;
    font-weight: bold;
    margin: $base-font * 1.5 0;
    color: $color;
}

*, body {
    font-family: $font-family;
    font-weight: 500;
    color: $color;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}

p {
    margin-bottom: $base-font * 1.2;
}
